<% provide(:title, 'About Us') %>

<h1>About Us</h1>
<p> Attack a Yak is a website designed to help you answer the important questions in life. Who would win in a fight between a shark and a shrew. If a gazelle could fight a cow, who would triumph? And how would man fare when pitched against a honey badger? </p>

<p> If you'd like to create any animals then feel free. Equally, different humans are great too. </p>
