<% provide(:title, 'Contact Us') %>
<h1> Contact Us </h1>
<p>
	If you'd like to get in touch and you don't know who I am then a quick bit of facebook stalking and an awareness of my resemblance to Moby will do it. If you can't work it out from that then I don't really want you contacting me.
</p>

<p> If you know who I am then the chances are you don't want to contact me. </p>
