<% provide(:title, 'Help') %>
	
<h1>Help</h1>
<p> Here's where you can find all the answers to your animal based ponderings. </p>
<h3> FAQ </h3>
<ul>
	<li> Why isn't there animal x? </li>
	<li> How come animal x beats animal y? </li>
	<li> Where can I find more information about animal x? </li>
	<li> I'd like to write the blurb for animal x, can I? </li>
	<li> I don't like the blurb for animal x - why is it like that? </li>
	<li> Do you guys have copyright for all the material you've used? </li>
</ul>


