<% provide(:title, @animal.name) %>
<h1><%= @animal.name %></h1>
<div class="textbox">
<h3> Profile </h3>
<%= @animal.blurb %>
</div>
<h3> Picture </h3>
<div class="showanimalpicture">
<%= image_tag @animal.attachment.url(:large) %>
</div>


